.App {
    width: 100vw;
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.heading {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    min-height: 300px;
    padding: 10px;
    border-radius: 20px;
}

.task_container {
    margin: 10px 0;
    cursor: pointer;
}

.task {
    flex-grow: 1;
    margin-left: 10px;
}

.line_through {
    text-decoration: line-through;
}
